[Unit]
Description=Jenkins
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=jenkins
Group=jenkins
WorkingDirectory=/opt/jenkins
ExecStart=/bin/bash -c "java -jar jenkins.war"
Restart=always
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target